
body{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
/*
Menu
*/
ul
{
overflow:hidden;
margin:0 0;


}
li
{
  display:inline;
}
a
{
  float:left;
  font-size:2.25em;
  padding:2.5vh 2.5vw;
  text-decoration:none;
  text-align:center;
  display:block;
}

/*
main - the dog picture and the text   near it
*/

.main::after{
content:"";
display:table;
clear:both;
}

.main-wrapper a{
  display:block;
  padding:0;

}
.main-wrapper{
  margin-top:0;
  /*text-align:center;*/
  position:relative;

}

.main-wrapper h1{
  font-size:4em;
  margin-top:0;
  padding-top:3.5vw;
  text-align:center;

}
.main-wrapper h3{
  font-size:3em;
  text-align:center;
}




/*
3 column layout
*/

.column
{
  float: left;
   width: 33%;
   padding:1em;
   box-sizing:border-box;
}
.column p
{
  text-align:justify;
  word-wrap: break-word;
  font-size:2vmax;
}
.row:after{
  content: "";
display: table;
clear: both;
}
#dog-pic{
    display:inline-block;
      height:auto;
  max-width:100%;





}
 hr{
  display:none;
}



/*
main responsive

*/
@media only screen and (max-width: 1024px) {
     #dog-pic,.main-wrapper a{
       width:100%;
     }
     .main-wrapper h1{
       font-size:4vmax;

     }
     .main-wrapper h3{
       font-size:3.5vmax;
       text-align:justify;
     }

}
/* 3 column layout responsive */
@media only screen and (max-width: 600px) {
   .column{
     width:100%;
   }
   hr{
     display:block;

   }
   a{
     width:100%;
     font-size:5vmax;
   }
   .main-wrapper h3{
     text-align:center;
   }

}
/*
footer
*/
footer
{
  text-align:center;
  padding:1.5vmax 1.5vmin;
}
